@charset "UTF-8";
 body {
 
      font-family: Bookman Old Styl;
      color:black;
      font-weight: bold;
      background-color: #f2f2f2;
      font-size: 18px;
      margin: 0;
      padding: 0;
    }

    .container {
      background-color:#45A1A0;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1;
    }
    
    .content-wrapper {
      margin: 40px auto;
      max-width: 500px;
      height: 500px;
      background-color: #fff;
      padding: 40px;
      border-radius: 5px;
      position: relative;
      z-index: 1;
    }
    
    h2 {
      color: #5D45A1 ;
      text-decoration: underline;
      text-align: center;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      color: #555;
      padding: 0px;
    }
    
    input[type="number"],
    input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 14px;
    }
    
    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #EC7063;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      letter-spacing: 2px;
      font-family: Bookman Old Style;
      font-size: 18px;
      font-weight: bold;
    }
    
    button[type="submit"]:hover {
      background-color: #FF7000 ;
    }
    
    .error {
      color: red;
      margin-top: 10px;
    }
    
    button {
      display: block;
      width: 10%;
      padding: 10px;
      background-color: #EC7063;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      letter-spacing: 2px;
      font-family: Bookman Old Style;
      font-size: 18px;
      font-weight: bold;
    }
    
    button:hover {
      background-color: #FF7000 ;
    }